---
http_interactions:
- request:
    method: post
    uri: https://revoup.ru/api/loans/v1/sessions
    body:
      encoding: UTF-8
      string: '{"user":{"login":"some-agent","password":"p@$$w0rd"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"errors":{"manager":["неверный логин и/или пароль"]}}'
  recorded_at: Thu, 01 Jan 1970 00:00:00 GMT
recorded_with: VCR 5.0.0
