---
http_interactions:
- request:
    method: post
    uri: https://revoup.ru/api/loans/v1/sessions
    body:
      encoding: UTF-8
      string: '{"user":{"login":"some-agent","password":"p@$$w0rd"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"56057190709809e14ac34b1550fba458"
    body:
      encoding: UTF-8
      string: '{"user":{"authentication_token":"some-token"}}'
  recorded_at: Thu, 01 Jan 1970 00:00:00 GMT
recorded_with: VCR 5.0.0
