---
http_interactions:
- request:
    method: put
    uri: https://revoup.ru/api/loans/v1/loan_requests/some-lr-token/loan/bill
    body:
      encoding: UTF-8
      string: '{"token": "some-lr-token","loan": {"bill":true}}'
    headers:
      Authorization:
      - some-session-token
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      Etag:
      - W/"9fbe686998e4de8ce898ed91615374de"
    body:
      encoding: UTF-8
      string: '{"errors":{"base":["unexpected_response"]}}'
  recorded_at: Thu, 01 Jan 1970 00:00:00 GMT
recorded_with: VCR 5.0.0
