---
http_interactions:
- request:
    method: post
    uri: https://revoup.ru/api/loans/v1/loan_requests/some-lr-token/confirmation
    body:
      encoding: UTF-8
      string: '{"code":"1111"}'
    headers:
      Authorization:
      - some-session-token
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b4838206a73b58edd6b291858a01dfe5"
    body:
      encoding: UTF-8
      string: '{"client":{"first_name":"Владилен","middle_name":"Гарриевич","last_name":"Пупкин","credit_limit":"6000.0","decision":"approved","decision_code":210,"decision_message":"Покупка
        на сумму 3000.0 ₽ успешно совершена!"}}'
  recorded_at: Thu, 01 Jan 1970 00:00:00 GMT
recorded_with: VCR 5.0.0
