---
http_interactions:
- request:
    method: post
    uri: https://revoup.ru/api/loans/v1/clients/billing_shift
    body:
      encoding: UTF-8
      string: '{"mobile_phone":"78881234567"}'
    headers:
      Authorization:
      - f90f00aed176c1661f56
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://revo.ru/api/loans/v1/clients/billing_shift
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Wed, 29 Jan 2020 13:25:46 GMT
recorded_with: VCR 5.0.0
