---
http_interactions:
- request:
    method: get
    uri: https://revoup.ru/api/loans/v1/clients/1/billing_shift/info
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - f90f00aed176c1661f56
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://revo.ru/api/loans/v1/clients/1/billing_shift/info
    body:
      encoding: ASCII-8BIT
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body>\r\n<center><h1>301
        Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 28 Jan 2020 10:53:27 GMT
recorded_with: VCR 5.0.0
