---
http_interactions:
- request:
    method: patch
    uri: https://revoup.ru/api/loans/v1/clients/18141
    body:
      encoding: UTF-8
      string: '{"client":{"mobile_phone":"8882223344","email":"userfakeemail@example.com"}}'
    headers:
      Authorization:
      - f90f00aed176c1661f56
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"errors":{"email":["уже существует"]}}'
  recorded_at: Fri, 29 Nov 2019 07:56:47 GMT
recorded_with: VCR 5.0.0
