---
http_interactions:
- request:
    method: post
    uri: https://revoup.ru/api/loans/v1/loan_requests
    body:
      encoding: UTF-8
      string: '{"loan_request":{"mobile_phone":"78881234567","amount":3000,"store_id":12345}}'
    headers:
      Authorization:
      - some-session-token
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"errors":{"store_id":["не может быть пустым"]}}'
  recorded_at: Thu, 01 Jan 1970 00:00:00 GMT
recorded_with: VCR 5.0.0
