---
http_interactions:
- request:
    method: get
    uri: https://revoup.ru/api/loans/v1/loan_requests/some-lr-token?amount=3000
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - some-session-token
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e92f06324f933cb548585b3a4ebd9823"
    body:
      encoding: UTF-8
      string: '{"loan_request":[{"term":3,"term_id":50,"monthly_payment":1073.0,"total_of_payments":3219.0,"sum_with_discount":3000.0,"total_overpayment":219.0,"sms_info":79.0,"product_code":"03","min_amount":1000.0,"max_amount":0.0,"schedule":[{"date":"26-11-2018","amount":1073.0},{"date":"26-12-2018","amount":1073.0},{"date":"27-01-2019","amount":1073.0}]}]}'
  recorded_at: Thu, 01 Jan 1970 00:00:00 GMT
recorded_with: VCR 5.0.0
