---
http_interactions:
- request:
    method: post
    uri: https://revoup.ru/api/loans/v1/loan_requests/some-lr-token/loan/finalization
    body:
      encoding: UTF-8
      string: '{"loan":{"agree_processing":"1","confirmation_code":1111}}'
    headers:
      Authorization:
      - some-session-token
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 422 Unprocessable Entity
    body:
      encoding: UTF-8
      string: '{"errors":{"confirmation_code":["неправильный код"]}}'
  recorded_at: Thu, 01 Jan 1970 00:00:00 GMT
recorded_with: VCR 5.0.0
